name: Build and deploy Veiligstallen app to Azure Web App (Production Environment)

on:
  push:
    branches:
      - main
    paths-ignore:
      - "README.md"
      - ".husky"
      - ".github/**"
      - "**/*.csv"
      - .env*
      - azure/*
      - github/*
      - scripts/*
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    environment: production

    steps:
      - uses: actions/checkout@v4

      - name: Set up Node.js version
        uses: actions/setup-node@v4
        with:
          node-version: "22.x"

      - name: create env file
        env:
          NEXT_PUBLIC_API_BASE_URL: ${{ vars.PROD_NEXT_PUBLIC_API_BASE_URL }}
          NEXT_PUBLIC_WEB_BASE_URL: ${{ vars.PROD_NEXT_PUBLIC_WEB_BASE_URL }}
          DATABASE_URL: ${{vars.PROD_DATABASE_URL}}
          NEXTAUTH_SECRET: ${{vars.PROD_NEXTAUTH_SECRET}}
          NEXTAUTH_URL: ${{vars.PROD_NEXTAUTH_URL}}
          NEXT_PUBLIC_MAPBOX_TOKEN: ${{vars.PROD_NEXT_PUBLIC_MAPBOX_TOKEN}}
          LOGINTOKEN_SIGNER_PRIVATE_KEY: ""
          UPDATE_CACHE_BEARER_TOKEN: ${{ secrets.PROD_CACHE_UPDATE_BEARER_TOKEN }}
          NSCONNECTOR_SUBSCRIPTION_KEY: ${{ secrets.PROD_NSCONNECTOR_SUBSCRIPTION_KEY }}
          MATOMO_URL: ${{ vars.PROD_MATOMO_URL }}
          SMTP_HOST: ${{ secrets.PROD_SMTP_HOST }}
          SMTP_PORT: ${{ secrets.PROD_SMTP_PORT }}
          SMTP_USER: ${{ secrets.PROD_SMTP_USER }}
          SMTP_PASS: ${{ secrets.PROD_SMTP_PASS }}
          SMTP_FROM: ${{ secrets.PROD_SMTP_FROM }}
        run: |
          touch .env
          echo "NEXT_PUBLIC_API_BASE_URL=$NEXT_PUBLIC_API_BASE_URL" >> .env
          echo "NEXT_PUBLIC_WEB_BASE_URL=$NEXT_PUBLIC_WEB_BASE_URL" >> .env
          echo "NODE_ENV=production >>" .env
          echo "DATABASE_URL=$DATABASE_URL" >> .env
          echo "NEXTAUTH_SECRET=$NEXTAUTH_SECRET" >> .env
          echo "NEXTAUTH_URL=$NEXTAUTH_URL" >> .env
          echo "NEXT_PUBLIC_MAPBOX_TOKEN=$NEXT_PUBLIC_MAPBOX_TOKEN" >> .env
          echo "LOGINTOKEN_SIGNER_PRIVATE_KEY=$LOGINTOKEN_SIGNER_PRIVATE_KEY" >> .env
          echo "UPDATE_CACHE_BEARER_TOKEN=$UPDATE_CACHE_BEARER_TOKEN" >> .env
          echo "NSCONNECTOR_SUBSCRIPTION_KEY=$NSCONNECTOR_SUBSCRIPTION_KEY" >> .env
          echo "MATOMO_URL=$MATOMO_URL" >> .env
          echo "SMTP_HOST=$SMTP_HOST" >> .env
          echo "SMTP_PORT=$SMTP_PORT" >> .env
          echo "SMTP_USER=$SMTP_USER" >> .env
          echo "SMTP_PASS=$SMTP_PASS" >> .env
          echo "SMTP_FROM=$SMTP_FROM" >> .env

      - name: print env file
        run: cat .env

      - name: npm install, build, and test
        env:
          NEXT_PUBLIC_API_BASE_URL: ${{ vars.PROD_NEXT_PUBLIC_API_BASE_URL }}
          NEXT_PUBLIC_WEB_BASE_URL: ${{ vars.PROD_NEXT_PUBLIC_WEB_BASE_URL }}
          DATABASE_URL: ${{vars.PROD_DATABASE_URL}}
          NEXTAUTH_SECRET: ${{vars.PROD_NEXTAUTH_SECRET}}
          NEXTAUTH_URL: ${{vars.PROD_NEXTAUTH_URL}}
          NEXT_PUBLIC_MAPBOX_TOKEN: ${{vars.PROD_NEXT_PUBLIC_MAPBOX_TOKEN}}
          UPDATE_CACHE_BEARER_TOKEN: ${{ secrets.PROD_CACHE_UPDATE_BEARER_TOKEN }}
          NSCONNECTOR_SUBSCRIPTION_KEY: ${{ secrets.PROD_NSCONNECTOR_SUBSCRIPTION_KEY }}
          MATOMO_URL: ${{ vars.PROD_MATOMO_URL }}
          SMTP_HOST: ${{ secrets.PROD_SMTP_HOST }}
          SMTP_PORT: ${{ secrets.PROD_SMTP_PORT }}
          SMTP_USER: ${{ secrets.PROD_SMTP_USER }}
          SMTP_PASS: ${{ secrets.PROD_SMTP_PASS }}
          SMTP_FROM: ${{ secrets.PROD_SMTP_FROM }}
        run: |
          npm install
          npm run build
          mv ./build/static ./build/standalone/build
          mv ./public ./build/standalone

      - name: "Deploy to Azure Web App"
        id: deploy-to-webapp
        uses: azure/webapps-deploy@v3
        with:
          app-name: ${{ vars.PROD_AZURE_APP_NAME}}
          publish-profile: ${{ vars.PROD_AZUREAPPSERVICE_PUBLISHPROFILE_VEILIGSTALLEN }}
          package: ./build/standalone
